.number-box {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 200px;
    height: 100px;

    display: inline-flex;
    flex-direction: row;

    .number-box__value {
        font-size: 24px;
        margin: 12px;

    }

    &.number-box--favorite {
        background-color: yellow;
    }
}